# fly.toml app configuration file generated for kymflow on 2026-02-11T10:30:49-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
# fly deploy   
#

app = "kymflow"
primary_region = "iad"

[build]

[env]
  HOST = "0.0.0.0"
  PORT = "8080"
  KYMFLOW_DEFAULT_PATH = "/app/tests/data"
  KYMFLOW_DEFAULT_DEPTH = "4"
  KYMFLOW_GUI_NATIVE = "0"
  KYMFLOW_GUI_RELOAD = "0"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "20s"
    method = "GET"
    path = "/"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1