
/* Indentation for mkdocstrings items. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

.md-button--myred {
    background: rgb(154, 30, 30, 1.0);
  }

.md-button--myred:not([disabled]):hover {
    background: rgba(154, 30, 30, 0.8);
}

.img-small {
    width: 400px;
}

.img-medium {
    max-width: 300px;
    width: 300px;
}

.img-50 {
    width: 50%;
}